django==5.0.2
djangorestframework==3.14.0
psycopg2-binary==2.9.9
dj-database-url==2.1.0
gunicorn==21.2.0
whitenoise==6.6.0
django-cors-headers==4.3.1
dj-rest-auth[with_social]==5.0.2
djangorestframework-simplejwt==5.3.1
